@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@*<h4>@ViewData["Title"]</h4>*@
<partial name="_StatusMessage" model="Model.StatusMessage" />

<style>
    body {
        padding-top: 0px;
    }
</style>

<link href="~/Content/HomeStyleSheet.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.7/css/dx.common.css" />
<link href="~/Content/DevExpressSchedulerStyle.css" rel="stylesheet" />
@*<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.7/css/dx.light.css" />*@
@*<script src="https://cdn3.devexpress.com/jslib/21.2.7/js/dx.all.js"></script>*@



<div class="demo-container" style="background-color:#fff;border:1px solid black;">
    <div class="container">
        <div class="row contactHeader">
            <div class="col-lg-5" align="left">
                <div style="border:0px solid black;">
                    <table align="left">
                        <tr>
                            <td valign="middle" style="border:1px solid #fff;padding:10px;">
                                <i class="fa fa-phone" style="font-size:40px;"></i>
                            </td>
                            <td class="leftTextAlign" style="border:1px solid #fff;padding:10px;">
                                <span class="overviewHeader dealAmount">
                                    Change Phone
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-lg-6" align="left">
            </div>
            <div class="col-lg-1" align="center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 dividerTableBackground" style="height:3px;">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 workingSectionSubHeaderBackground">
                <h2 class="subHeadingTitle"></h2>
            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <form id="profile-form" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.PhoneNumber"></label>
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <button id="update-profile-button" type="submit" class="btn btn-primary">Change Phone Number</button>
                    <br /><br />
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}