@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<style>
    body {
        padding-top: 0px;
    }
</style>

<link href="~/Content/HomeStyleSheet.css" rel="stylesheet" />

<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.7/css/dx.common.css" />
<link href="~/Content/DevExpressSchedulerStyle.css" rel="stylesheet" />
@*<link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/21.2.7/css/dx.light.css" />*@
@*<script src="https://cdn3.devexpress.com/jslib/21.2.7/js/dx.all.js"></script>*@

<nav aria-label="breadcrumb" align="right">
    <ol class="breadcrumb">
        <li class="breadcrumb-item ml-auto"><a href="https://localhost:44381">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Forgot Password Confirmation</li>
    </ol>
</nav>


<div class="demo-container" style="background-color:#fff;border:1px solid black;">
    <div class="container">
        <div class="row contactHeader">
            <div class="col-lg-5" align="left">
                <div style="border:0px solid black;">
                    <table align="left">
                        <tr>
                            <td valign="middle" style="border:1px solid #fff;padding:10px;">
                                <i class="fa fa-lock" style="font-size:40px;"></i>
                            </td>
                            <td class="leftTextAlign" style="border:1px solid #fff;padding:10px;">
                                <span class="overviewHeader dealAmount">
                                    Ameriforce Forgot Password
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="col-lg-6" align="left">
            </div>
            <div class="col-lg-1" align="center">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 dividerTableBackground" style="height:3px;">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 workingSectionSubHeaderBackground">
                <h2 class="subHeadingTitle"></h2>
            </div>
        </div>

        <div class="row" style="margin-top:20px;">
            <div class="col-md-4">

                <p>
                    Please check your email for instructions to reset your password.
                </p>
                <div>
                </div>

            </div>
        </div>

