body {
    padding-bottom: 20px;
    padding-top: 110px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #4a4a56;
    line-height: 100%;
    background-color: #ccc;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


.form-label
{
    font-size:small;
    color:#ff0000;
}


/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 380px;
}

.form-control {
    max-width:100%;
}


.container {
    margin-left: 0px;
    margin-right: 0px;
    /*increase width as per your need*/
    max-width: 100%;
}


#menuNavbar {
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 2px dashed #f69c55;
}


.text-validation {
    font-size:x-small;
    font-weight:bold;
    color:#fff;
    background-color:#ff0000;
}


.requiredClass {
    background-color:#f69c55;
}


.validatedClass {
    background-color:#4cff00;
}

.inputGroup-margin {
    margin-bottom:5px;
}

.inputGroup-margin-top {
    margin-top:5px;
    margin-bottom: 5px;
}

.amerisourceBlueBackground {
    background-color:orange;
}

.indexViewActionButton {
    padding: 0px 5px 0px 5px;
    font-size: 12px;
}


